__pycache__

bin/
env/
migrations/
myvenv/
obj/
venv/

include/
lib/
pip-selfcheck.json


*.DS_Store
*.cache
*.coverage
*.idea
*.log
*.ptvs
*.pyo
*.sln.docstates
*.suo
*.user

$RECYCLE.BIN/

db.sqlite3
Desktop.ini
ehthumbs.db
local_settings.py
notes.txt
secrets.py
Thumbs.db
web.config
